<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <title>LeetCode Clone - Problems List</title>-->
<!--  <style>-->
<!--    body {-->
<!--      font-family: 'Consolas', monospace;-->
<!--      background-color: #2b2b2b;-->
<!--      margin: 0; /* Reset margin to 0 */-->
<!--    }-->

<!--    #navbar {-->
<!--      display: flex;-->
<!--      justify-content: space-between;-->
<!--      padding: 10px 20px;-->
<!--      background-color: #333;-->
<!--      color: #ddd;-->
<!--    }-->

<!--    #navbar a {-->
<!--      color: #ddd;-->
<!--      text-decoration: none;-->
<!--      font-size: 18px;-->
<!--      font-weight: 800;-->
<!--      margin-left: 20px;-->
<!--    }-->


<!--    h2 {-->
<!--      color: lightgray;-->
<!--    }-->
<!--    table {-->
<!--      width: 100%;-->
<!--      border-collapse: collapse;-->
<!--      margin-top: 20px;-->
<!--      margin-left: 0;-->
<!--      margin-right: 0;-->
<!--    }-->
<!--    th, td {-->
<!--      padding: 12px;-->
<!--      text-align: left;-->
<!--      border-bottom: 1px solid #ddd;-->
<!--      color: white;-->
<!--/*      padding-left: 0;*/-->
<!--/*      padding-right: 0;*/-->
<!--    }-->
<!--    th {-->
<!--      background-color: #216222;-->
<!--      color: white;-->
<!--    }-->
<!--    tr:hover {-->
<!--      background-color: #403f3f;-->
<!--    }-->
<!--    .solve-button, .submissions-button {-->
<!--      background-color: #216222;-->
<!--      color: white;-->
<!--      border: none;-->
<!--      padding: 8px 12px;-->
<!--      text-align: center;-->
<!--      text-decoration: none;-->
<!--      display: inline-block;-->
<!--      font-size: 14px;-->
<!--      margin-right: 5px;-->
<!--      cursor: pointer;-->
<!--    }-->

<!--    #user-info {-->
<!--      margin-right: 20px;-->
<!--      color: white;-->
<!--      border: none;-->
<!--      padding: 8px 12px;-->
<!--      text-align: center;-->
<!--      font-size: 14px;-->
<!--      cursor: pointer;-->
<!--      text-decoration: underline;-->
<!--    }-->
<!--    #logout-button {-->
<!--      background-color: #333;-->
<!--      color: white;-->
<!--      border: none;-->
<!--      padding: 8px 12px;-->
<!--      text-align: center;-->
<!--      text-decoration: none;-->
<!--      font-size: 14px;-->
<!--      cursor: pointer;-->
<!--    }-->
<!--    #content {-->
<!--      margin: 0px; /* Add margin for content */-->
<!--    }-->
<!--  </style>-->
<!--</head>-->
<!--<body>-->

<!--<div id="navbar">-->
<!--  <a th:href="@{/me}" id="user-info" th:text="${username}"></a>-->
<!--  <a th:href="@{/logout}" id="logout-button">Logout</a>-->
<!--</div>-->

<!--<div id="content" style="text-align: center;">-->
<!--  <h2>JeetCode - Problems</h2>-->

<!--  <table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>ID</th>-->
<!--      <th>Title</th>-->
<!--      <th>Difficulty</th>-->
<!--      <th>Acceptance</th>-->
<!--      <th>Action</th>-->
<!--      &lt;!&ndash; Add more headers as needed &ndash;&gt;-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="problem : ${problems}">-->
<!--      <td th:text="${problem.problemId}"></td>-->
<!--      <td th:text="${problem.title}"></td>-->
<!--      <td th:text="${problem.difficulty}"></td>-->
<!--      <td th:text="${problem.acceptance}"></td>-->
<!--      <td>-->
<!--        <a th:href="@{/problem/{id}(id=${problem.problemId})}" class="solve-button">Solve</a>-->
<!--        <a th:href="@{/problems/submissions/{id}(id=${problem.problemId})}" class="submissions-button">Submissions</a>-->
<!--      </td>-->
<!--      &lt;!&ndash; Add more columns as needed &ndash;&gt;-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->

<!--</div>-->

<!--</body>-->
<!--</html>-->
