<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  <title>User Details</title>-->

<!--  <style>-->
<!--    body {-->
<!--      font-family: 'Consolas', monospace;-->
<!--      background-color: #2b2b2b;-->
<!--      color: #ddd;-->
<!--      margin: 0;-->
<!--      padding: 0;-->
<!--      display: flex;-->
<!--      flex-direction: column;-->
<!--      align-items: stretch;-->
<!--      height: 100vh;-->
<!--    }-->

<!--    #navbar {-->
<!--      display: flex;-->
<!--      justify-content: space-between;-->
<!--      padding: 10px 10px;-->
<!--      background-color: #333;-->
<!--    }-->

<!--    #navbar a {-->
<!--      color: #ddd;-->
<!--      text-decoration: none;-->
<!--      font-size: 18px;-->
<!--      font-weight: 800;-->
<!--      margin-left: 20px;-->
<!--    }-->

<!--    #container {-->
<!--      max-width: 600px;-->
<!--      border-radius: 8px;-->
<!--      padding: 40px;-->
<!--      text-align: center;-->
<!--      margin-top: 20px; /* Add some space below the navbar */-->
<!--    }-->

<!--    h1 {-->
<!--      color: #ddd;-->
<!--      font-size: 48px;-->
<!--      margin-bottom: 20px;-->
<!--      font-weight: 700;-->
<!--    }-->

<!--    #user-details {-->
<!--      text-align: left;-->
<!--    }-->

<!--    .detail-label {-->
<!--      font-size: 24px;-->
<!--      font-weight: 700;-->
<!--      color: #bbb;-->
<!--      margin-bottom: 5px;-->
<!--    }-->

<!--    .user-label{-->
<!--      font-size: 40px;-->
<!--      font-weight: bolder;-->
<!--      color: #bbb;-->
<!--      text-align: left;-->
<!--      margin-bottom: 15px;-->
<!--    }-->

<!--    .detail-value {-->
<!--      font-size: 36px;-->
<!--      color: #ddd;-->
<!--      font-weight: 700;-->
<!--      margin-bottom: 20px;-->
<!--    }-->

<!--    .user-value {-->
<!--      font-size: 40px;-->
<!--      font-weight: bolder;-->
<!--      text-align: left;-->
<!--      color: #ddd;-->
<!--      font-weight: 700;-->
<!--      margin-bottom: 20px;-->
<!--    }-->
<!--  </style>-->
<!--</head>-->
<!--<body>-->

<!--<div id="navbar">-->
<!--  <a th:href="@{/problems}"> | Problems</a>-->
<!--  <a th:href="@{/logout}" style="margin-left: auto;">Logout</a>-->
<!--</div>-->

<!--<div id="container">-->
<!--  <div class="user-label">Hello!</div>-->
<!--  <div class="user-value" th:text="${user.userName}"></div>-->

<!--  <div id="user-details">-->
<!--    <div class="detail-label">Full Name:</div>-->
<!--    <div class="detail-value" th:text="${user.fullName}"></div>-->

<!--    <div class="detail-label">Submission Count:</div>-->
<!--    <div class="detail-value" th:text="${user.submissionCount}"></div>-->
<!--  </div>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->
